li{
    list-style: none;
    display: inline-block;
    text-decoration: none;
    margin: 0px 10px;
}

#eagle{
    width: 100px; 
    height: 100px;
    float: left;
    margin: 10px;
} 
.name{
    background-color: #4aaaa5;
    color: white;
    width: 150px;
    text-align: center;
    display: inline-block;
} 
.body-contain{
    float: right;
    padding-top: 10px;
}

.container{
    margin: 15px 10%;
}

.row{
    margin: 15px;
    padding: 10px;
}

body{
    background-image: url("../img/bg.jpg");
    padding: 0;
    margin: 0;
} 

.header{
    background-color: white;
} 
#ct-fluid{
    padding: 0;
    width: 100%;
} 
.content{
    background-color: white;
} 
.footer-content{
    text-align: center;
    background-color: darkslategrey; 
    border-top: #4aaaa5 10px solid; 
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;

}  

.p-img{
    width: 150px;
    height: 150px;
}

.p-title{
    background-color: #4aaaa5;
    color: white;
    position: absolute;
    top: 110px;
    width: 150px;
}

.p-content{
    height: 500px;
}

@media only screen and ( max-width:640px) {
    #eagle{
        width: 100%;
        height: 150px;
    }
    .body-contain{
        width: 100%;
        float: none;
    }
    .name{
        width: 100%;
    }
}